body{
    font-size: 20px;
    background-color: burlywood;
}
#search-container{
    margin: 0 auto;
    text-align: center;
    padding: 70px 0;
}
#center{
    text-align: center;
    font-size: 100px;
}
#center2{
    margin: 0 auto;
    text-align: center;
    padding: 70px 0;
}
p{
    text-align: center;
}
.searchmatch{
    color: #bbff1c;
}
#result{
    text-align: center;
}
